/* nityanand pandey 99999*/
body{
     font: normal normal normal 12px/1.5 Verdana , arial, Helvetica, sans-serif;
     height :100;
     width :100;
     background-color: hsla(200, 40%, 80%, 0.7);

}
h2{
    font-size: 2rem;
    color: #fc9;

}