/* nityanand pandey 99999*/
body{
     font: normal normal normal 12px/1.5 Verdana , arial, Helvetica, sans-serif;
     height :100;
     width :100;
     background-color: hsla(200, 40%, 80%, 0.7);

}
h2{
    font-size: 2rem;
    color: #fc9;

}
header{
    background-color: hsl(300, 50%, 50%);
}
main{
    float:left;
    width: 65vw;
    background-color: hsl(130, 39%, 58%);
    height: 60vh;
}
aside{
    float: right;
    width: 25vw;
    background-color: hsl(69, 89%, 57%);
    height: 60vh;
}
footer{
    clear: both;
    background-color: hsl(249, 38%, 26%);
}
.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(219, 69, 7);
}
#para2{
    color: rgb(17, 3, 85);
}
a:hover{
    color: #f09;
}
footer p{
    font-size: .75em;
}