/* nityanand pandey 8911829*/
body{
     font: normal normal normal 12px/1.5 Verdana , arial, Helvetica, sans-serif;
     height :100;
     width :100;
     background-color: hsla(200, 40%, 80%, 0.7);

}
h1{
    color: blueviolet;
    font-size: 30px;
}

h2{
    font-size: 2rem;
    color: #fc9;

}
header{
    background-color: hsl(300, 50%, 50%);
}
nav ul li{
    display: inline;
    list-style-type: none;
}
nav ul li a{
    border: 2px solid indigo;
    color: indigo;
    background-color: cornsilk;
    text-decoration: none;
    padding: 4px;
}
nav ul li a:hover{
    border: 2px solid cornsilk;
    color: cornsilk;
    background-color: indigo;
}
main{
    float:left;
    width: 65vw;
    background-color: hsl(130, 39%, 58%);
}
aside{
    float: right;
    width: 25vw;
    background-color: hsl(69, 89%, 57%);
    height: 60vh;
}
aside ul{
    list-style-type: square;
}
aside li{
    line-height: 1.5rem;
    color: rgba(200, 90, 127, 0.5);
}
aside a{
    color: rgba(200, 90, 127, 0.5);
}
aside a:hover{
    color: #f09;
}
footer{
    clear: both;
    background-color: hsl(249, 38%, 26%);
}
.structural{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}
#para1{
    color: rgb(219, 69, 7);
}
#para2{
    color: rgb(17, 3, 85);
}
form{
    border: 5px dashed darkblue;
}
input[type=text], input[type=email], input[type=submit], select, option{
    display: block;
    width: 50%;
    height: 2em;
}
input[type=radio], input[type=checkbox]{
    height: 2em;
    width: 2em;
}
select, option, label, legend{
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5em;
}
textarea{
    width: 50%;
    display: block;
}
fieldset{
    border: none;
}
footer p{
    font-size: .75em;
}
